@import './foundation/default';
@import './foundation/flex';

.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;


    .image-chooser{
        width: 40%;
        height: 6em;
        margin: 10px auto 0px auto;
        background-color: #ffffff;
        padding: 10px;
       
        .file-area{
            width: 100%;
            height: 50%;
            @include flexHrCenter();
        }

        .submit-btn-area{
            width: 100%;
            height: 50%;
            @include flexHrCenter();

            button{
                width: 5em;
                height: 2em;
                color: white;
                border-radius: 3px;
                background-color: rgba(167, 30, 172, 0.856);
            }
        }
    }

    .image-container{
        width: 100%;
        height: auto;
        margin-top: 2em;
        @include flexCenter();
        canvas{
            width: 400px;
            height: 400px;
            background-color: #fff;
        }
    }
}